@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");

@import "tailwindcss";

/* ===========================
   Custom Fonts
   =========================== */
.font-barlow {
  font-family: "Barlow Condensed", sans-serif;
}

.font-bellefair {
  font-family: "Bellefair", serif;
}

/* ===========================
   Custom Colors
   =========================== */
:root {
  --color-custom: #d0d6f9;
}

.text-custom {
  color: var(--color-custom);
}

.bg-custom {
  background-color: var(--color-custom);
}

.border-custom {
  border-color: var(--color-custom);
}
